*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --padding:0 6rem;
}

@media only screen and (max-width:501px){
    :root{
        --padding:0 1rem;
    }
}
@media only screen and (min-width:501px) and (max-width:768px){
    :root{
        --padding:0 2.5rem;
    }
}

@media only screen and (min-width:1440px){
    body{
        width: 1440px;
        margin: auto;
    }
}

body{
    background-color: black;
    color: white;
}


/* Navbar Css */
.header{
    width: 100%;
    /* position: sticky;
    top: 0px; */
    padding:var(--padding);
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    animation:scale-in-ver-top 0.7s cubic-bezier(.25,.46,.45,.94) both;
}

@keyframes scale-in-ver-top{0%{transform:scaleY(0);transform-origin:100% 0;opacity:1}100%{transform:scaleY(1);transform-origin:100% 0;opacity:1}}

.nav{
    width: 65%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: rgb(39, 39, 42);
}

.nav-logo{
    display: flex;
    padding: 0 1rem;
}

.nav-logo h1{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-content .links{
    text-decoration: none;
    color: white;
    font-weight: 350;
    padding: 0.4rem 0.5rem;
    border-radius: 12px;
}

.hamesburger{
    height: 100%;
    color: white;
    padding: 0.4rem 0.5rem;
    display: none;
}   

.nav-content .links:hover{
    background-color:#3d3e3f ;
    opacity: 0.9;
}

#cross{
    display: none;
}


/* Navbar MediaQueries */
@media only screen and (max-width:1160px){
    .nav{
        width: 100%;
    }
}

@media only screen and (max-width:872px){
    .header{
        padding: 0;
        align-items: start;
        height: auto;
    }

    .nav{
        border-radius: 0px;
        background-color: black;
    }

    .nav .nav-content{
        width: 100%;
        justify-content: center;
        position: fixed;
        top:0px;
        left: -100%;
        height: 100vh;
        background-color: rgb(39, 39, 42);
        flex-direction: column;
        transition: 0.5s ease-in-out;
    }

    .nav-content .links{
        font-weight: 450;
    }
    .hamesburger{
        z-index: 10;
        display: inline;
        vertical-align: middle;
    }

    #cross{
        display: none;
        z-index: 10;
        vertical-align: middle;
    }

    .hamesburger i{
        cursor:pointer;
    }
}


/* Herosection */
.herosection{
    width: 100%;
    margin-top: 6rem;
    padding: var(--padding);
}

.section{
    width: 100%;
    display: flex;
}

.herosection1{
    display: flex;
    flex-direction: column;
}
.hero-heading{
    font-size: 3rem;
    font-weight:700;
}

.name{
    color: #00ADB5;
}

.hero-heading2{
    color: #00ADB5;
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.overview{
    margin-top: 1rem;
    color: #a1a1aa;
    line-height: 1.5rem;
    font-size: 1rem;
}

.herosection1 .button{
    margin-top: 1rem;
    height: 20%;
}

.herosection2{
    display: flex;
    flex-direction: column;
    position: relative;
}
.herosection .hero-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-image img{
    z-index: -1;
    width: 70%;
    border-radius: 1rem;

}

.herosection2 .socialmedialinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.herosection2 .socialmedialinks a img{
    z-index: -10;
}




@media only screen and (max-width:1100px){
    .herosection .section{
        flex-wrap: wrap;
        gap: 2rem;
    }

    .herosection .hero-image{
        width: 100%;
        justify-content: start;
    }

    .herosection2 .socialmedialinks{
        justify-content: start;
    }
}

@media only screen and (max-width:500px){
    .herosection .hero-image img{
        width: 100%;
    }

    .herosection1 h1{
        font-size: 1.5rem;
    }
    .herosection1 h2{
        font-size: 1.5rem;
    }
}

/* About Section and Skills Section */
.about,.skills{
    width: 100%;
    margin-top: 6rem;
    padding: var(--padding);
}

.about-container{
    width: 80%;
}

.section-heading{
    color: white;
}

.about-container .overview{
    margin-top: 1rem;
}

@media only screen and (max-width:768px){
    .about-container{
        width: 100%;
    }
}
.skills-container{
    width: 100%;
}
.box{
    margin-top:2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.boxes{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0.5rem; */
    color: #a1a1aa;
    font-weight: 700;
}

.boxes p{
    margin-top: 0.5rem;
}

@media only screen and (max-width:850px){
    .box{
        width: 100%;
    }
}


/* Education section */
.education{
    width: 100%;
    padding: var(--padding);
    margin-top: 6rem;
}

.education-container{
    width: 100%;
}

.educationbox{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.educations{
    border: 3px solid #3d3e3f;
    border-radius: 12px;
    padding:1rem;
    color: #a1a1aa;
    width: 50%;
}

.educations .h4{
    color: #00ADB5;
}

@media only screen and (max-width:426px){
    .educationbox{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(1,1fr);
    }
    .educations{
        width: 100%;
    }
}



